:root {
    --waline-theme-color: var(--theme-color);
    // 表格；横线元素隐藏
    hr, tr, td, th {
        border: none!important;
        }
}


// 首行缩进2字符
.theme-hope-content p {
    text-indent: 2em;
}

.textkai {
    font-size: 18px;
    font-family: 'crimson', 'LXGW WenKai Screen R', serif;
}

.textkai p {
    line-height: 1.3;
    margin: 0.3em 0;
}

.excerpt p {
    margin: 0.3em 0;
}

.centering {
    text-align: center !important;
    text-indent: 0 !important;
}

.centering p {
    text-indent: 0;
}

.aright {
    text-align: right !important;
    text-indent: 0 !important;
}

.script p {
    line-height: 1;
    text-indent: 0;
}

.sp-qa {
    text-indent: 0 !important;
    font-family: 'crimson', 'LXGW WenKai Screen R', serif;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 0.5em;
    line-height: 1;
}

.ques {
    margin-top: 2em;
}

.answ {
    margin-top: 0.5em;
}

.qa-q {
    font-family: 'crimson', 'LXGW WenKai Screen R', serif;
}

.hero-image {
    max-width: 80%;
}

.borderless {

    tr,
    td,
    th {
        border: 0;
    }
}

.flexbox {
    margin-top: 1em;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.footer {
    line-height: 1.4em;
    font-size: 12px !important;
}

.excerpt {
    font-family: 'crimson', 'LXGW WenKai Screen R', serif;
    font-size: 18px !important;
}

// 文章头图
.heroimage-edge-blur {
    max-height: 200px;
    position: relative;
    opacity: 0.5;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow:0 0 30px 30px var(--bg-color) inset;
    }
}

.heroimageph {
    text-align: center;
    text-indent: 0;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 1;
    text-shadow: 0 0 3px black;
}

// 禁止打印元素
@media print {
    .no-print {
      display: none !important;
    }
  
    .print-warning {
      display: block !important;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px;
      text-align: center;
      background-color: #ffff00;
      color: #ff0000;
      font-weight: bold;
      font-size: 24px;
      z-index: 9999;
    }
  }  

// 禁止右键元素
.no-interact {
    user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    pointer-events: none;
    user-select: none;
}

